body {
  box-sizing: border-box;
  background-color: #2B283A;
  margin: 0;
  padding: 20px;
} 
main {
  background-color:#F5F5F5;
  height: 400px;
  max-width: 800px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.die-container {
  display: grid;
  grid-template:auto auto / repeat(5,1fr);
  gap: 20px;
}